.jumbotron {
    background-color: #f8f8fd;
}

.jumbotron span {
    color: #3575e2;
}

.jumbotron #title {
    font-size: 3.2rem;
}

.jumbotron button {
    background-color: #3575e2;
}

form div {
    padding: 5px;
}

.plot {
    background-color: #f1f2f4;
}

.first-arrow {
    position: absolute;
    margin-top: -10px;
    margin-left: 210px;
}

.second-arrow {
    position: absolute;
    margin-top: 60px;
    margin-left: 540px;
}

.third-arrow {
    position: absolute;
    margin-top: -10px;
    margin-left: 860px;
}
