.jumbotron {
    background-color: #f8f8fd;
}

.jumbotron span {
    color: #3575e2;
}

.jumbotron #title {
    font-size: 3.2rem;
}

.jumbotron button {
    background-color: #3575e2;
}

form div {
    padding: 5px;
}

.ellipsis {
    margin-top: -0.8rem;
    background-color: salmon;
    width: 0.4rem;
    height: 0.4rem;
    background-color: #515b6f;
    border-radius: 0.2rem;
}

.cat-green {
    background-color: rgba(86, 205, 173, 0.1);
    border: 1px solid #56cdad;
    color: #56cdad;
}

.cat-yellow {
    background-color: rgba(255, 184, 54, 0.1);
    border: 1px solid #ffb836;
    color: #ffb836;
}

.plot {
    background-color: #f1f2f4;
}

.first-arrow {
    position: absolute;
    margin-top: -10px;
    margin-left: 210px;
}

.second-arrow {
    position: absolute;
    margin-top: 60px;
    margin-left: 540px;
}

.third-arrow {
    position: absolute;
    margin-top: -10px;
    margin-left: 860px;
}
